@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@font-face {
    font-family: 'poppins';
    src: url('./../public/fonts/Poppins_Regular.ttf');
}

@font-face {
    font-family: 'couture';
    src: url('./../public/fonts/couture-bld.otf');
}
